* This code generates a list of city names for us when provided with a list of coordinates.
* CitiPy is being utilized in the for loop to add cities for every pair of coordinates in our list.
* Students will be responsible for determining precisely how to do this in their homework assignment as well.
* [citipy documentation](https://github.com/wingchen/citipy)

In [30]:
# Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from citipy import citipy
import requests
import json
from config import api_key_weather

In [31]:
# Some random coordinates
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&"

coordinates = [(200, 200), (23, 200), (42, 100)]

In [32]:
cities = []
for coordinate_pair in coordinates:
    lat, lon = coordinate_pair
    #cities.append(citipy.nearest_city(lat, lon))
    city = citipy.nearest_city(lat, lon)
    citiname = city.city_name
    countrycode = city.country_code
    cities_data = {'City': [citiname], 'Country': [countrycode], 'Lat': [lat], 'Lng': [lon]}
    city_df = pd.DataFrame(data=cities_data)
    cities.append(city_df)

cities_df = pd.concat(cities)
cities_df

            City Country  Lat  Lng
0  leningradskiy      ru  200  200
0     butaritari      ki   23  200
0        jiuquan      cn   42  100

In [37]:
results = []
#for city in cities:
for city in cities_df.itertuples(index=False):
    print(city)
    
    #country_code = city.country_code
    #name = city.city_name
    #print(f"The country code of {name} is '{country_code}'.")
    
    name = city[0]
    country_code = city[1]
    lat = city[2]
    long = city[3]

    # Build query URL
    #query_url = url + "appid=" + api_key_weather + "&q=" + city.city_name
    query_url = url + "appid=" + api_key_weather + "&q=" + str(name)

    print(f"The city name is {name}.")
    print(f"The country name is {country_code}.")

    print(query_url)
    
    # Get weather data
    weather_response = requests.get(query_url)
    weather_json = weather_response.json()
    
    #print(weather_json)
    #print(json.dumps(weather_json, indent=4, sort_keys=True))
    
    cloudiness = weather_json["clouds"]["all"]
    MaxTemp = weather_json["main"]["temp_max"]
    humidity = weather_json["main"]["humidity"]
    windspeed = weather_json["wind"]["speed"]
    
    #print("Cloudiness " + str(cloudiness))
    #print("Max Temperature " + str(MaxTemp))
    #print("Humidity " + str(humidity))
    #print("Windspeed " + str(windspeed))
    
    city_data = {'City': [name], 'Lat': [lat], 'Lng': [long], 'Cloudiness': [cloudiness], 'Country': [country_code], 'Humidity': [humidity], 'Max Temperature': [MaxTemp], 'Windspeed': [windspeed]}
    df = pd.DataFrame(data=city_data)
    results.append(df) # append this loop's city data frame to the list of dataframes

Pandas(City='leningradskiy', Country='ru', Lat=200, Lng=200)
The city name is leningradskiy.
The country name is ru.
http://api.openweathermap.org/data/2.5/weather?units=Imperial&appid=8e5c378a7e1a5d0c969c56301f258dde&q=leningradskiy
Pandas(City='butaritari', Country='ki', Lat=23, Lng=200)
The city name is butaritari.
The country name is ki.
http://api.openweathermap.org/data/2.5/weather?units=Imperial&appid=8e5c378a7e1a5d0c969c56301f258dde&q=butaritari
Pandas(City='jiuquan', Country='cn', Lat=42, Lng=100)
The city name is jiuquan.
The country name is cn.
http://api.openweathermap.org/data/2.5/weather?units=Imperial&appid=8e5c378a7e1a5d0c969c56301f258dde&q=jiuquan

In [38]:
city_data_pd = pd.concat(results) # Concat list of data frames in results from above to the final data frame
city_data_pd.head()

,City,Lat,Lng,Cloudiness,Country,Humidity,Max Temperature,Windspeed
0,leningradskiy,200,200,80,ru,83,-2.47,28.16
0,butaritari,23,200,76,ki,100,80.20,11.83
0,jiuquan,42,100,8,cn,62,19.54,5.68